<div class="container">
  <h3>Assignment : </h3>
  <div class="row">
    <div class="col-xs-12">
      <form>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="email">Email</label>
          <div class="col-sm-10">
            <input
              id="email"
              name="email"
              type="text"
              class="form-control"
              required
              email>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="subscription">Subscription</label>
          <div class="col-sm-10">
            <select
              id="subscription"
              class="form-control"
              name="subscription">
              <option value="basic">Basic</option>
              <option value="Advanced">Advanced</option>
              <option value="Pro">Pro</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="password">Password</label>
          <div class="col-sm-10">
            <input
              id="password"
              name="password"
              type="password"
              class="form-control"
              required>
          </div>
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          >Submit
        </button>
      </form>
    </div>
  </div>
</div>
